<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Контакты</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1>Всем привет</h1>
<p>Я начинающий разработчик сайтов</p>
<p>Это мой первый сайт</p>
<form action="/">
  <input type="submit" class="btn-new" value="Назад">
  </form>
</body>
</html>
